@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

/* 헤더구역 시작 */
#header {
    height:90px;
    width:100%;
    background:#00145a;
    position:fixed;
    top:0;
    left:0;
    z-index:999;
}

/* sns */
#header .sns {
    position:absolute;
    top:15%;
    right:2%;
}
#header .sns li {
    float:left;
    margin:0 14px;
}
#header .sns li i {
    font-size:16px;
    color:white;
}

/* 로그인박스 */
#header .loginbox {
    position:absolute;
    top:55%;
    right:3.3%;
    width:130px;
}
#header .loginbox a {
    color:#fff;
    font-size:18px;
    font-weight:bold;
}
#header .loginbox .login {
    position:absolute;
    top:0;
    left:0;
}
#header .loginbox .join {
    position:absolute;
    top:0;
    right:0;
}

/* 헤더 이너 구역 */
#header .inner {
    position:relative;
}
#header .logo {
    padding-top:22px;
    width:150px;
    height:90px;
}

#header .navibox {
    position:absolute;
    top:0;
    right:0;
    width:80%;
    height:90px;
}
#header .navibox .navi > li {
    float:left;
    width:20%;
    height:90px;
    position:relative;
}
#header .navibox .navi > li > a {
    font-size:22px;
    font-weight:bold;
    font-family: 'Gothic A1', sans-serif;
    text-align:center;
    line-height:90px;
    color:#fff;
    display:block;
}
#header .navibox .navi > li:hover .navi2 {
    display:block;
    height:350px;
}

.navi .navi2 {
    position:absolute;
    top:100%;
    left:0%;
    width:100%;
    height:0px;
    z-index:99;
    font-size:15px; 
    transition:all 0.3s;
    background:#dcdee0;
    border-radius:0 0 20px 20px;
    display:none;
}
.navibox .navi2 > li {
    text-align:center;
    font-size:18px;
    font-weight:bold;
    font-family: 'Gothic A1', sans-serif;
}
.navibox .navi2 > li > a {
    display:block;
    padding:25px 0;
}
.navibox .navi2 > li > a:hover {
    color:#f00;
}
/* 헤더구역 끝 */

/* 메인구역 시작 */
#section {
    height:730px;
    margin-top:90px;
    padding-top:40px;
}
#section .logintop {
    width:850px;
    height:179px;
    margin:0 auto;
    position:relative;
}
#section .logintop img {
    height:179px;
    position:absolute;
    top:0;
    left:0;
}
#section .logintop p {
    font-size:23px;
    font-family: 'Noto Sans KR', sans-serif;
    color:#333;
    position:absolute;
    top:29%;
    left:17%;
}
#section .logintop p:last-child {
    position:absolute;
    top:50%;
    left:17%;
}
.loginbox2 {
    width:848px;
    height:422px;
    border:2px solid #dfdfdf;
    margin:30px auto;
}
.loginbox2 .logininfo {
    height:113px;
    background:#f8f9fd;
    font-size:18px;
    font-family: 'Noto Sans KR', sans-serif;
    position:relative;
}
.loginbox2 .logininfo p {
    padding-left:120px;
    padding-top:25px;
}
.loginbox2 .logininfo p:last-child {
    padding-top:15px;
}
.loginbox2 .logininfo p span {
    color:red;
}

.loginbox2 .loginform {
    padding-top:50px;
    padding-left:120px;
    position:relative;
}
.loginbox2 .loginform li:first-child {
    font-size:18px;
    font-family: 'Noto Sans KR', sans-serif;
}
.loginbox2 .loginform li:first-child input {
    margin-right:5px;
}
.loginbox2 .loginform li:nth-child(2) {
    margin-top:20px;
}
.loginbox2 .loginform li:nth-child(2) input {
    width:438px;
    height:44px;
    padding-left:10px;
    border:1px solid #bfbfbf;
    color:#bfbfbf;
}
.loginbox2 .loginform li:nth-child(3) {
    margin-top:15px;
}
.loginbox2 .loginform li:nth-child(3) input {
    width:438px;
    height:44px;
    padding-left:10px;
    border:1px solid #bfbfbf;
    color:#bfbfbf;
}
.loginbox2 .loginform form > button {
    padding:36px 28px;
    position:absolute;
    top:90px;
    right:145px;
    font-size:24px;
    font-weight:bold;
    font-family: 'Noto Sans KR', sans-serif;
    background:#00145a;
    color:#fff;
}
.loginbox2 .loginform .loginbtn button {
    margin-top:25px;
    margin-right:8px;
    width:130px;
    height:35px;
    background:#fff;
    color:#000;
    border:1px solid #bfbfbf;
    border-radius:50px;
    font-family: 'Noto Sans KR', sans-serif;
}
.loginbox2 .loginform .loginbtn button:first-child {
    margin-left:8px;
}
.loginbox2 .loginform .loginbtn button:last-child {
    color:#f00;
}
/* 메인구역 끝 */

/* 푸터구역 시작 */
#footer {
    height:100px;
    border-top:1px solid #dfdfdf;
}
#footer .inner {
    position:relative;
}

#footer .ftlogo {
    padding:17.5px 10px;
}
#footer .ftlogo img {
    height:65px;
}
#footer .ftinfo {
    font-size:13px;
    font-family: 'Sawarabi Gothic', sans-serif;
    position:absolute;
    top:20%;
    left:6%;
}
#footer .ftinfo a:first-child {
    font-size:14px;
    margin-right:10px;
}
#footer .ftinfo a {
    margin:0 5px;
    letter-spacing:-0.5px;
}

#footer .fttext1 {
    font-size:12px;
    font-family: 'Sawarabi Gothic', sans-serif;
    position:absolute;
    top:40%;
    left:6%;
    padding-left:5px;
}
#footer .fttext2 {
    font-size:12px;
    font-family: 'Sawarabi Gothic', sans-serif;
    position:absolute;
    top:55%;
    left:6%;
    padding-left:5px;
}
#footer .fttext3 {
    font-size:12px;
    font-family: 'Sawarabi Gothic', sans-serif;
    position:absolute;
    top:70%;
    left:6%;
    padding-left:5px;
}
/* 푸터구역 끝 */